body {
  font-family: "Segoe UI", sans-serif;
  background: #f3f4f6;
  margin: 0;
  padding: 40px;
  text-align: center;
}

.form-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;

  /* AGAR FORM DI TENGAH */
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

label {
  font-weight: 600;
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  margin-top: 15px;
 
  background-color: #dc189e;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: #798abb;
}

table {
  width: 600px; /* supaya tabel tidak full layar */
  border-collapse: collapse;
  margin-top: 15px;
  background: white;
  border-radius: 10px;
  overflow: hidden;

  /* AGAR TABEL DI TENGAH */
  margin-left: auto;
  margin-right: auto;
}

th {
  background-color: #dc189e;
  color: white;
  text-align: left;
  padding: 10px;
}
