body {
  text-align: center;
  background-color: wheat;
}
h2 {
  text-align: left;
}
h3 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
label {
  text-align: right;
  display: inline-block;
  width: 150px;
  margin-right: 10px;
  margin-left: 20px;
  font-weight: bold;
}

input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  width: calc(50% - 20px);
  border: 3px solid #000000;
}
input[type="password"] {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  width: calc(50% - 20px);
  border: 3px solid #000000;
}
.container,
.data-container {
  background-color: rgb(237, 255, 167);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 800px;
  margin-bottom: 20px;
}
button {
  border-radius: 15px;
  width: 200px;
  height: 50px;
  background-color: aqua;
  font-weight: bold;
}
